body
{
width: 500px;
margin: 0 auto;
}

p
{
background: aqua;
border: 3px solidblue;
padding: 10 px;
margin: 10px;

}
h1 {
    font: 100;
}

positioned{
    position: relative;
    background: yellow;
    top:30px;
    left:30px;
}